* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    opacity: 0;
}

.title {
    font-size: 4.0277vw;
}

.text {
    font-size: 2.01388vw;
}

.white {
    color: #fff;
}

.orange {
    color: #deb37e;
}

.centered {
    text-align: center;
}

.button {
    width: 23.88vw;
    height: 5.20833vw;
    background: #7f7770;
    border: .2px solid #7f7770;
    border-radius: 2.388vw;
    font-size: 1.59722vw;
    line-height: 1.45833vw;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.button_orange {
    background-color: #e2a355;
    border-color: #e2a355;
}

.button_white {
    background-color: #fff;
    border-color: #fff;
    color: #776c64;
}

.button:focus {
    outline: none;
    border-color: #000;
}

.button:hover {
    background-color: #e2a355;
    border-color: #e2a355;
}

.button_white:hover {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.button_orange:hover {
    background-color: #776c64;
    border-color: #776c64;
}

body {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    color: #54524f;
}

.header {
    padding: 2.0833vw 5.1388vw .5vw;
    display: grid;
    grid-template-columns: 4.93055vw auto 12.70833vw;
    gap: 2.0833vw;
    align-items: center;
}

.header__toggle {
    display: none;
}

.header__nav {
    justify-self: right;
    grid-column: 2/3;
    grid-row: 1;
}

.nav__menu {
    display: flex;
}

.nav__link {
    padding: 0.9722vw 2.0833vw;
    font-size: 1.18055vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .23611vw;
}

.nav__link:hover, .nav__link:focus {
    opacity: .7;
}

.header__search {
    display: flex;
    align-items: center;
}

.search__input {
    height: 3.54166vw;
    width: 12.70833vw;
    padding-left: 1.6vw;
    padding-right: 4.166vw;
    background: #7f777080;
    border: .2vw solid transparent;
    border-radius: 2.388vw;
    font-size: 1.875vw;
    color: #54524f;
}

.search__input:focus {
    outline: none;
    border-color: #000;
}

.search__button {
    padding: .4vw;
    margin-left: -3.5vw;
    background: transparent;
    border: .2vw solid transparent;
    border-radius: 2.388vw;
    color: #54524f;
    height: 2.8833vw;
}

.search__button:focus {
    outline: none;
    border-color: #000;
}

.search__button::before {
    content: "";
    display: block;
    width: 2.0833vw;
    height: 2.0833vw;
    background: url(../images/Search.png) no-repeat;
    background-size: 1.7vw 1.7vw;
}

.section {
    padding: 0 5.1388vw;
}

.section_main {
    background: url(../images/bg-1.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__title {
    margin-top: 17.3611vw;
    max-width: 39.5vw;
    font-size: 6.31944vw;
    text-shadow: 2.6px -4.3px 5px rgba(84, 82, 79, 0.22);
    font-weight: 900;
    text-transform: uppercase;
}

.main__subtitle {
    margin-top: .9vw;
    font-style: italic;
    font-size: 1.73611vw;
    text-transform: uppercase;
    letter-spacing: .34722vw;
}

.main__button {
    margin-top: 5vw;
}

.main__text {
    margin-top: 1.6vw;
    margin-bottom: 11.3611vw;
    max-width: 32.98611vw;
    font-size: 1.423611vw;
    font-style: italic;
    letter-spacing: .0715277vw;
}

.section_info {
    padding-top: 9vw;
    padding-bottom: 12.70833vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/shadow-1.png) no-repeat;
    background-position: left -25vw bottom;
    background-size: auto 35.55vw;
}

.info__title {
    text-transform: uppercase;
    font-size: 4.340277vw;
    font-weight: 900;
}

.info__text {
    max-width: 48.611vw;
    margin-top: 2.5vw;
    font-size: 1.875vw;
}

.info__container {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info__card {
    max-width: 23.54166vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background: #7f7770;
}

.info__figure {
    max-width: 23.54166vw;
}

.info__img{
    width: 23.54166vw;
    height: 20.90277vw;
    object-fit: cover;
}

.info__caption {
    margin: auto 1.2vw;
    max-width: 23.54166vw;
    margin-top: 2.01388vw;
    font-size: 2.01388vw;
    font-weight: bold;
}

.info__card-text {
    margin: 2vw 1.2vw 4vw;
    max-width: 23.54166vw;
    font-size: 1.59722vw;
}

.info__button {
    margin-top: 4vw;
}

.section_discount {
    padding: 0;
    background-color: #7f7770;
    display: flex;
}

.discount__img {
    width: 50%;
    object-fit: cover;
}

.discount__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.3055vw;
}

.discount__text {
    margin-top: 3.33vw;
    margin-bottom: 3.4722vw;
}

.section_promo {
    padding: 0;
    background-color: #deb37e;
    display: flex;
}

.promo__img {
    width: 50%;
    object-fit: cover;
}

.promo__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.3055vw;
    padding-left: 9.722vw;
}

.promo__text {
    margin-top: 3.33vw;
    margin-bottom: 3.4722vw;
}

.section_description {
    padding-top: 15.6944vw;
    padding-bottom: 20.833vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/edge-4.png) no-repeat, url(../images/shadow-1.png) no-repeat;
    background-color: #7f7770;
    background-size: 100% auto, auto 35.55vw;
    background-position: bottom -2px center, left -22vw top 60%;
}

.description__title {
    font-weight: 600;
}

.description__text {
    color: #dbdbdb;
    max-width: 62.5vw;
    margin-top: 3.33vw;
}

.section_poster {
    background: url(../images/bg-2.png) no-repeat;
    background-size: cover;
    background-position: top right;
    padding-top: 33.77vw;
    padding-bottom: 30.55vw;
}

.poster__title {
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 5.173611vw;
}

.section_quotes {
    padding-top: 3vw;
    background: url(../images/shadow-2.png) no-repeat;
    background-position: right -17vw bottom;
    background-size: auto 40.06944vw;
}

.quotes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quotes__card {
    width: 25.055vw;
}

.quotes__card-title {
    text-transform: capitalize;
    font-size: 2.29166vw;
    line-height: 2.29166vw;
}

.quotes__card-text {
    margin-top: 1.5277vw;
    color: #333d42;
    font-size: 1.31944vw;
    line-height: 1.73611vw;
}

.quotes__quote {
    margin-top: 13.3611vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f3f3f;
}

.quote__sign {
    font-weight: bold;
    font-size: 6.944vw;
}

.quote__text {
    max-width: 55.55vw;
    margin-top: -2vw;
    margin-bottom: 2vw;
    font-size: 1.73611vw;
    font-weight: 600;
}

.quote__author {
    font-size: 1.45833vw;
    line-height: 2.29166vw;
    font-weight: bold;
}

.section-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22.9166vw;
    padding-bottom: 15.9722vw;
    background: url(../images/edge-3.png) no-repeat, url(../images/edge-5.png) no-repeat;
    background-size: 100%, 100%;
    background-position: top -2px center, bottom -2px center;
    background-color: #deb37e;
}

.subscription__title {
    font-size: 5.1388vw;
}

.subscription__text {
    max-width: 52.0833vw;
    margin-top: 4.166vw;
    margin-bottom: 4.166vw;
}

.subscription__email {
    display: flex;
    align-content: center;
}

.subscription__label {
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    color: transparent;
}

.subscription__input {
    padding: 2vw;
    padding-right: 6vw;
    width: 45.833vw;
    height: 4.51388vw;
    font-size: 1.73611vw;
    border: .3vw solid transparent;
    border-radius: 2vw;
}

.subscription__input:focus, .subscription__button:focus {
    outline: none;
    border: .3vw solid #111;
}

.subscription__input::placeholder {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.subscription__button {
    margin-left: -4vw;
    display: inline-block;
    height: 4.62388vw;
    font-size: 1.73611vw;
    padding: 0 4vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #54524f;
    border: .3vw solid transparent;
    border-radius: 2vw;
    cursor: pointer;
}

.subscription__button:hover {
    background: #e2a355;
}

.footer {
    padding-top: 23.611vw;
    padding-bottom: 23.611vw;
    background: #7f7770 url(../images/edge-1.png) no-repeat;
    background-size: 100%;
    background-position: top -2px center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__about {
    width: 31.73611vw;
    margin-right: 11.66vw;
}

.footer__socials {
    margin-top: 1.8055vw;
    display: flex;
    gap: 1vw;
}

.footer__img {
    width: 2.9166vw;
    height: 2.9166vw;
    object-fit: contain;
}

.footer__title {
    font-size: 2.0833vw;
    margin-bottom: 1.8055vw;
}

.footer__text {
    font-size: 1.73611vw;
}

.footer__column {
    margin-left: 0 4vw;
}

.footer__link {
    display: block;
    font-size: 1.73611vw;
    line-height: 2.77vw;
}

@media (max-width: 768px) {


    .header {
        padding: 2.0833vw 5.1388vw .5vw;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        width: 12vw;
        height: 12vw;
        object-fit: contain;
    }

    .header__toggle {
        justify-self: flex-end;
        display: block;
        cursor: pointer;
        width: 8vw;
        height: 8vw;
        object-fit: contain;
    }
    
    .header__nav {
        width: 100%;
        grid-column: 1/3;
        grid-row: 2;
        padding-bottom: 12vw;
    }
    
    .nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav__link {
        display: inline-block;
        padding: 3vw 4vw;
        font-size: 4vw;
        letter-spacing: .5vw;
    }
    
    .nav__link:hover, .nav__link:focus {
        opacity: .7;
    }
    
    .header__search {
        display: none;
    }

    .title {
        font-size: 8.055vw;
    }

    .text {
        font-size: 4.0277vw;
    }

    .button {
        width: 47.76vw;
        height: 10.4166vw;
        border-radius: 4.77vw;
        font-size: 3.1944vw;
        line-height: 2.9166vw;
    }

    .section_main {
        background-image: url(../images/bg-3.png);
        background-size: cover;
        background-position: right;
        align-items: center;
        text-align: center;
        color: #fff;
        text-shadow: 2.6px -4.3px 5px rgba(84, 82, 79, 0.22);
    }
    
    .main__title {
        margin-top: 17.3611vw;
        max-width: 80vw;
        font-size: 12.6388vw;
        color: #fff;
    }
    
    .main__subtitle {
        margin-top: 1.8vw;
        font-size: 3.4722vw;
        letter-spacing: .6944vw;
    }
    
    .main__button {
        margin-top: 10vw;
        background-color: #7f7770;
        border-color: #7f7770;
        color: #fff;
    }

    .main__button:hover {
        background-color: #e2a355;
        border-color: #e2a355;
    }
    
    .main__text {
        margin-top: 6vw;
        margin-bottom: 22.722vw;
        max-width: 70vw;
        font-size: 4.0277vw;
        font-style: italic;
        letter-spacing: .14vw;
    }

    .section_info {
        padding-top: 12vw;
        padding-bottom: 15vw;
    }
    
    .info__text {
        max-width: 80vw;
        margin-top: 2.5vw;
    }
    
    .info__container {
        width: 100%;
        margin-top: 9vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6vw;
    }
    
    .info__card {
        max-width: 47.0833vw;
        gap: 2vw;
    }
    
    .info__figure {
        max-width: 47.0833vw;
    }
    
    .info__img{
        width: 47.0833vw;
        height: 41.8055vw;
    }
    
    .info__caption {
        margin: auto 2.4vw;
        max-width: 47.0833vw;
        margin-top: 4.0277vw;
        font-size: 4.0277vw;
        font-weight: bold;
    }
    
    .info__card-text {
        margin: 4vw 2.4vw 8vw;
        max-width: 47.0833vw;
        font-size: 3.1944vw;
    }
    
    .info__button {
        margin-top: 12vw;
    }

    .section_discount {
        display: flex;
        flex-wrap: wrap;
    }
    
    .discount__img {
        width: 100%;
    }
    
    .discount__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vw;
        padding-bottom: 15vw;
        text-align: center;
    }
    
    .discount__text {
        margin-top: 6.66vw;
        margin-bottom: 12vw;
    }
    
    .section_promo {
        display: flex;
        flex-wrap: wrap;
    }
    
    .promo__img {
        width: 100%;
    }
    
    .promo__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vw;
        padding-bottom: 15vw;
        text-align: center;
    }
    
    .promo__text {
        margin-top: 6.66vw;
        margin-bottom: 12vw;
    }

    .description__text {
        max-width: 80vw;
        margin-top: 6.66vw;
    }

    .section_quotes {
        padding-top: 12vw;
        text-align: center;
    }
    
    .quotes__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .quotes__card {
        width: 50vw;
        margin-bottom: 12vw;
    }
    
    .quotes__card-title {
        font-size: 4.6vw;
        line-height: 4.6vw;
    }
    
    .quotes__card-text {
        margin-top: 3vw;
        font-size: 2.64vw;
        line-height: 3.46vw;
    }
    
    .quotes__quote {
        margin-top: 0;
    }
    
    .quote__sign {
        font-size: 14vw;
    }
    
    .quote__text {
        max-width: 80vw;
        margin-top: -4vw;
        margin-bottom: 4vw;
        font-size: 3.46vw;
    }
    
    .quote__author {
        font-size: 2.9vw;
        line-height: 4.6vw;
    }
    
    .subscription__text {
        max-width: 80vw;
        margin-bottom: 6vw;
    }
    
    .subscription__input {
        padding: 4vw;
        padding-right: 6vw;
        width: 70vw;
        height: 9vw;
        font-size: 3.46vw;
        border-radius: 4vw;
    }
    
    .subscription__button {
        margin-left: -8vw;
        height: 9vw;
        font-size: 3.46vw;
        padding: 0 4vw;
        border-radius: 4vw;
    }

    .footer {
        width: 100%;
        padding-top: 18vw;
        padding-bottom: 12.611vw;
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        justify-content: space-evenly;
        gap: 6vw;
    }
    
    .footer__about {
        grid-column: 1/4;
        text-align: center;
        margin-right: 0;
        margin-bottom: 12vw;
        width: 90vw;

    }

    .footer__about .footer__title {
        font-size: 8vw;
    }
    
    .footer__title {
        text-align: center;
        font-size: 4vw;
        margin-bottom: 4vw;
    }
    
    .footer__socials {
        justify-content: center;
        margin-top: 8vw;
        gap: 4vw;
    }
    
    .footer__img {
        width: 8vw;
        height: 8vw;
        object-fit: contain;
    }
    
    .footer__column {
        margin-left: 0 4vw;
        width: 30vw;
    }
    
    .footer__link {
        text-align: center;
        display: block;
        font-size: 3.46vw;
        line-height: 1.2;
        margin-bottom: 2vw;
    }

    .mobile-hidden {
        display: none;
    }

}