* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: bold;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Raleway;
}

.section-container {
    width: 100%;
    background-image: url(../images/bg-1.png);
}

.header {
    width: 100%;
    padding: 55px 180px 55px 98px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
}

.header__ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
}