* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    opacity: 0;
}

.title {
    font-size: 4.0277vw;
}

.text {
    font-size: 2.01388vw;
}

.white {
    color: #fff;
}

.orange {
    color: #deb37e;
}

.centered {
    text-align: center;
}

.button {
    width: 23.88vw;
    height: 5.20833vw;
    background: #7f7770;
    border: .2px solid #7f7770;
    border-radius: 2.388vw;
    font-size: 1.59722vw;
    line-height: 1.45833vw;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.button_orange {
    background-color: #e2a355;
    border-color: #e2a355;
}

.button_white {
    background-color: #fff;
    border-color: #fff;
    color: #776c64;
}

.button:focus {
    outline: none;
    border-color: #000;
}

.button:hover {
    background-color: #e2a355;
    border-color: #e2a355;
}

.button_white:hover {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.button_orange:hover {
    background-color: #776c64;
    border-color: #776c64;
}

body {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    color: #54524f;
}

.header {
    padding: 2.0833vw 5.1388vw .5vw;
    display: grid;
    grid-template-columns: 4.93055vw auto 12.70833vw;
    gap: 2.0833vw;
    align-items: center;
}

.header__nav {
    justify-self: right;
    grid-column: 2/3;
    grid-row: 1;
}

.nav__menu {
    display: flex;
}

.nav__link {
    padding: 0.9722vw 2.0833vw;
    font-size: 1.18055vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .23611vw;
}

.nav__link:hover, .nav__link:focus {
    opacity: .7;
}

.header__search {
    display: flex;
    align-items: center;
}

.search__input {
    height: 3.54166vw;
    width: 12.70833vw;
    padding-left: 1.6vw;
    padding-right: 4.166vw;
    background: #7f777080;
    border: .2vw solid transparent;
    border-radius: 2.388vw;
    font-size: 1.875vw;
    color: #54524f;
}

.search__input:focus {
    outline: none;
    border-color: #000;
}

.search__button {
    padding: .4vw;
    margin-left: -3.5vw;
    background: transparent;
    border: .2vw solid transparent;
    border-radius: 2.388vw;
    color: #54524f;
    height: 2.8833vw;
}

.search__button:focus {
    outline: none;
    border-color: #000;
}

.search__button::before {
    content: "";
    display: block;
    width: 2.0833vw;
    height: 2.0833vw;
    background: url(../images/Search.png) no-repeat;
    background-size: 1.7vw 1.7vw;
}

.section {
    padding: 0 5.1388vw;
}

.section_main {
    background: url(../images/bg-1.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__title {
    margin-top: 17.3611vw;
    max-width: 39.5vw;
    font-size: 6.31944vw;
    text-shadow: 2.6px -4.3px 5px rgba(84, 82, 79, 0.22);
    font-weight: 900;
    text-transform: uppercase;
}

.main__subtitle {
    margin-top: .9vw;
    font-style: italic;
    font-size: 1.73611vw;
    text-transform: uppercase;
    letter-spacing: .34722vw;
}

.main__button {
    margin-top: 5vw;
}

.main__text {
    margin-top: 1.6vw;
    margin-bottom: 11.3611vw;
    max-width: 32.98611vw;
    font-size: 1.423611vw;
    font-style: italic;
    letter-spacing: .0715277vw;
}

.section_info {
    padding-top: 9vw;
    padding-bottom: 12.70833vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/shadow-1.png) no-repeat;
    background-position: left -25vw bottom;
    background-size: auto 35.55vw;
}

.info__title {
    text-transform: uppercase;
    font-size: 4.340277vw;
    font-weight: 900;
}

.info__text {
    max-width: 48.611vw;
    margin-top: 2.5vw;
    font-size: 1.875vw;
}

.info__container {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info__card {
    max-width: 23.54166vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background: #7f7770;
}

.info__figure {
    max-width: 23.54166vw;
}

.info__img{
    width: 23.54166vw;
    height: 20.90277vw;
    object-fit: cover;
}

.info__caption {
    margin: auto 1.2vw;
    max-width: 23.54166vw;
    margin-top: 2.01388vw;
    font-size: 2.01388vw;
    font-weight: bold;
}

.info__card-text {
    margin: 2vw 1.2vw 4vw;
    max-width: 23.54166vw;
    font-size: 1.59722vw;
}

.info__button {
    margin-top: 4vw;
}

.section_discount {
    padding: 0;
    background-color: #7f7770;
    display: flex;
}

.discount__img {
    width: 49.79166vw;
    width: 50%;
    object-fit: cover;
}

.discount__container {
    max-width: 50vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.3055vw;
}

.discount__text {
    margin-top: 3.33vw;
    margin-bottom: 3.4722vw;
}

.section_promo {
    padding: 0;
    background-color: #deb37e;
    display: flex;
}

.promo__img {
    width: 49.79166vw;
    width: 50%;
    object-fit: cover;
}

.promo__container {
    max-width: 50vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.3055vw;
    padding-left: 9.722vw;
}

.promo__text {
    margin-top: 3.33vw;
    margin-bottom: 3.4722vw;
}

.section_description {
    padding-top: 25.6944vw;
    padding-bottom: 20.833vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/edge-3.png) no-repeat, url(../images/edge-4.png) no-repeat, url(../images/shadow-1.png) no-repeat;
    background-color: #7f7770;
    background-size: 100%, 100%, auto 35.55vw;
    background-position: top, bottom, left -22vw top 60%;
}

.description__title {
    font-weight: 600;
}

.description__text {
    color: #dbdbdb;
    max-width: 62.5vw;
    margin-top: 3.33vw;
}

.section_poster {
    background: url(../images/bg-2.png) no-repeat;
    background-size: cover;
    background-position: top right;
    padding-top: 33.77vw;
    padding-bottom: 30.55vw;
}

.poster__title {
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 5.173611vw;
}

.section_quotes {
    padding-top: 3vw;
    background: url(../images/shadow-2.png) no-repeat;
    background-position: right -17vw bottom;
    background-size: auto 40.06944vw;
}

.quotes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quotes__card {
    width: 25.055vw;
}

.quotes__card-title {
    text-transform: capitalize;
    font-size: 2.29166vw;
    line-height: 2.29166vw;
}

.quotes__card-text {
    margin-top: 1.5277vw;
    color: #333d42;
    font-size: 1.31944vw;
    line-height: 1.73611vw;
}

.quotes__quote {
    margin-top: 13.3611vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f3f3f;
}

.quote__sign {
    font-weight: bold;
    font-size: 6.944vw;
}

.quote__text {
    max-width: 55.55vw;
    margin-top: -2vw;
    margin-bottom: 2vw;
    font-size: 1.73611vw;
    font-weight: 600;
}

.quote__author {
    font-size: 1.45833vw;
    line-height: 2.29166vw;
    font-weight: bold;
}

.section-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22.9166vw;
    padding-bottom: 15.9722vw;
    background: url(../images/edge-3.png) no-repeat, url(../images/edge-5.png) no-repeat;
    background-size: 100%, 100%;
    background-position: top, bottom;
    background-color: #deb37e;
}

.subscription__title {
    font-size: 5.1388vw;
}

.subscription__text {
    max-width: 52.0833vw;
    margin-top: 4.166vw;
    margin-bottom: 4.166vw;
}

.subscription__email {
    display: flex;
    align-content: center;
}

.subscription__label {
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    color: transparent;
}

.subscription__input {
    padding: 2vw;
    padding-right: 6vw;
    width: 45.833vw;
    height: 4.51388vw;
    font-size: 1.73611vw;
    border: .3vw solid transparent;
    border-radius: 2vw;
}

.subscription__input:focus, .subscription__button:focus {
    outline: none;
    border: .3vw solid #111;
}

.subscription__input::placeholder {
    font-family: BalooBhai, Verdana, Geneva, Tahoma, sans-serif;
}

.subscription__button {
    margin-left: -4vw;
    display: inline-block;
    height: 4.62388vw;
    font-size: 1.73611vw;
    padding: 0 4vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #54524f;
    border: .3vw solid transparent;
    border-radius: 2vw;
    cursor: pointer;
}

.subscription__button:hover {
    background: #e2a355;
}

.footer {
    padding-top: 23.611vw;
    padding-bottom: 23.611vw;
    background: #7f7770 url(../images/edge-1.png) no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__about {
    max-width: 31.73611vw;
    margin-right: 11.66vw;
}

.footer__socials {
    margin-top: 1.8055vw;
    display: flex;
    gap: 1vw;
}

.footer__img {
    width: 2.9166vw;
    height: 2.9166vw;
    object-fit: contain;
}

.footer__title {
    font-size: 2.0833vw;
    margin-bottom: 1.8055vw;
}

.footer__text {
    flex-wrap: wrap;
    font-size: 1.73611vw;
}

.footer__column {
    margin-left: 0 4vw;
}

.footer__link {
    display: block;
    font-size: 1.73611vw;
    line-height: 2.77vw;
}