* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    background: #eee;
    padding: 10px;
}

.carousel__card {
    width: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 10px;
}

.carousel__img-container {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
    text-align: center;
}

.carousel__img {
    display: inline-block;
    width: fit-content;
    object-fit: contain;
    align-self: center;
}

.carousel__text-container {
    padding: 0 5px;
    padding-bottom: 10px;
    color: #333;
}

.carousel__title {
}

.carousel__title, .carousel__text {
    text-align: center;
}