* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Monoton';
    src: url(../fonts/Monoton-Regular.ttf);
    font-weight: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Raleway, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-container-main {
    width: 100%;
    background-image: url(../images/bg-2.png), url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: -121px, auto;
}

.header {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding: 55px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
}

.header__menu {
    display: none;
    cursor: pointer;
}

.header__links {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.section {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

.section-main {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__logo {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 650px;
    height: 650px;
    background-image: url(../images/circles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.logo__title {
    display: inline-block;
    margin-top: 44px;
    font-size: 57px;
    font-weight: normal;
}

.logo__font {
    margin-top: -14px;
    font-family: Monoton, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 71px;
}

.main__info {
    margin-top: 220px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    max-width: 484px;
}

.main__title {
    font-size: 61px;
    text-transform: uppercase;
    font-weight: 700;
}

.main__line {
    display: block;
    background: #fff;
    width: 161px;
    height: 7px;
}

.main__text {
    font-size: 25px;
    text-align: right;
}

.main__button {
    margin-top: 30px;
    width: 254px;
    height: 48px;
    color: #100667;
    font-size: 25px;
    background-color: #fff;
    opacity: .8;
    border: none;
    appearance: none;
}

.section-container-info {
    background: #000;
}

.section-info {
    max-width: 886px;
    padding: 92px 20px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__disc {
    width: 52px;
    height: 52px;
    border: 18px solid #fff;
    border-radius: 50%;
    margin-bottom: 18px;
}

.info__title {
    font-size: 29px;
    margin-bottom: 36px;
}

.info__text {
    max-width: 700px;
    font-size: 19px;
    line-height: 33px;
    text-align: center;
}

.info__line {
    background: #fff;
    width: 160px;
    height: 10px;
    margin: 50px auto;
}

.info__line-2 {
    margin-top: 0;
}

.info__list {
    display: flex;
    gap: 40px;
    font-size: 17px;
    font-weight: bold;
}

.info__quote {
    font-size: 83px;
}

.info__name {
    margin-top: 50px;
    font-weight: 700;
}

.section-container-advantages {
    background: #d41ae3;
}

.section-advantages {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
}

.advantages__advantage {
    padding: 0 5px;
    width: 310px;
}

.advantage__img {
    width: 65px;
    height: 30px;
    background: url(../images/arrows.png) no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}

.advantage__title {
    font-size: 19px;
    line-height: 33px;
    margin-bottom: 30px;
}

.advantage__text {
    font-size: 17px;
    line-height: 25px;
}

.section-companies {
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 70px;
}

.companies__company {
    width: 345px;
    background-color: #d41ae3;
    padding: 60px 70px;
}

.company__title {
    margin-bottom: 60px;
    font-size: 17px;
}

.company__text {
    font-size: 17px;
    margin-bottom: 45px;
}

.company__contact {
    display: flex;
    gap: 18px;
    align-items: center;
}

.contact__icon {
    width: 61px;
    height: 61px;
    border: 8px solid #fff;
    border-radius: 50%;
}

.contact__info {
}

.contact__name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact__job {
    font-size: 15px;
}

.section-container-image-1 {
    height: 365px;
    background-image: url(../images/bg-3.png);
    background-size: cover;
}

.section-container-image-2 {
    height: 365px;
    background-image: url(../images/bg-4.png);
    background-size: cover;
}

.section-container-image-3 {
    height: 670px;
    background-image: url(../images/bg-5.png);
    background-size: cover;
}

.section-container-numbers {
    background-image: url(../images/bg-6.png);
    background-size: cover;
}

.section-numbers {
    padding-top: 170px;
    padding-bottom: 290px;
}

.numbers__title {
    font-size: 29px;
    text-align: center;
    margin-bottom: 90px;
}

.numbers__container {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 70px;
}

.numbers__number {
    width: 150px;
}

.number__text {
    font-size: 13px;
    margin-bottom: 25px;
}

.number__year {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
}

.number__title {
    font-size: 21px;
    text-transform: uppercase;
}

.section-projects {
    padding: 115px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 30px;
    justify-content: center;
}

.projects__project {
    width: 570px;
    height: 380px;
    padding: 20px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project__date {
    margin-bottom: 10px;
    font-size: 17px;
}

.project__title {
    margin-bottom: 44px;
    font-size: 21px;
}

.project__text {
    text-align: center;
    font-size: 17px;
}

.projects__img {
    width: 570px;
    height: 380px;
    object-fit: contain;
    object-position: left;
}

.section-container-about {
    background-color: #d41ae3;
}

.section-about {
    padding: 70px 20px;
    display: flex;
    justify-content: space-between;
}

.about__title {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 40px;
}

.about__text {
    max-width: 330px;
    font-size: 19px;
    line-height: 29px;
}

.about__list {
    font-size: 21px;
    line-height: 33px;
}

@media (max-width: 768px) {
    .header__menu {
        display: block;
        justify-self: right;
    }

    .header__nav {
        display: none;
        position: absolute;
        right: 50px;
        top: 120px;
    }

    .header__nav_visible {
        display: block;
    }

    .header__links {
        flex-direction: column;
        align-items: flex-end;
    }
}